*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: bisque;
}
header{
    background-color: blanchedalmond;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 100%;
}
.container{
    width: 80%;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.poster{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
img{
    width: 100%;
}
.infos{
    background-color: lightgray;
    width: 200px;
    height: fit-content;
    padding: .75rem;
}
footer{
     background-color: blanchedalmond;
    height: 60px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}